<!DOCTYPE html>
<html>

    <body>

        <head>
            <title>Foodfy</title>
            <link rel="stylesheet" href="/styles/styles.css">
        </head>
        {%include 'parts/headerMain.njk'%}

        <div class="userchefContainer">
            {%for chef in chefs%}
                <div class='card' id='{{chef.id}}'>
                    <div class='card__image-container_chef'>
                        
                                {%for i in range(0, chefs.length)%}
                                {%if files[i].id == chef.file_id %}

                                    <img src="{{files[i].path}}" alt="{{chef.name}}"/>
                                    {%endif%}
                                {%endfor%}
                                 
                                   
                                </div>
                                <div class='card__content_chef'>
                                    <p>{{chef.name}}</p>
                                    <a href="chefs/{{chef.id}}" class="see">Visualizar</a>

                                </div>

                            </div>
                        {% endfor %}

                    </div>
                    <footer id='second'>
                        <p>Todos os direitos reservados, receitas Foodfy.</p>
                    </footer>
                </div>

                <script src="/scripts.js"></script>
            </body>

        </html>