<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>
        {%include 'parts/styles.njk'%}
    </head>
    <body>

        {%include 'parts/headerMain.njk'%}

        <div class="userchefContainer">
            {%for chef in chefs%}
                <div class='card' id='{{chef.id}}'>
                    <div class='card__image-container_chef'>

                        {%for i in range(0, chefs.length)%}
                            {%if files[i].id == chef.file_id %}

                                <img src="{{files[i].path}}" alt="{{chef.name}}"/>
                                {%endif%}
                                {%endfor%}

                            </div>
                            <div class='card__content_chef'>
                                <p>{{chef.name}}</p>
                                <a href="chefs/{{chef.id}}" class="see">Visualizar</a>

                            </div>

                        </div>
                    {% endfor %}

                </div>
                {%include 'parts/footer.njk'%}
            </div>

            <script src="/scripts.js"></script>
        </body>

    </html>