<!DOCTYPE html>
<html>

    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/styles/styles2.css">

    </head>

    <body>
        <header>
            <h1 id='detailFix'><img src="/Foodfy.png" alt="" ></h1>
            
            <a href="/receitas" class='recipes' id='detailRecipes' style="font-weight: bold;">Receitas</a>
            <a href="/chefs"  class='chefs_link' id='detailChefs' >Chefs</a>
            

        </header>

        <section>
            <div class="adminContainer">
                
                <button id='recipeEdit' class='edit master'><a class='linkedit'
                href="/receitas/{{recipe.id}}/edit">Editar Receita</a></button>
                
            </div>
            <div class='card' id='{{recipe.id}}'>
            <div class="recipe-title"><p>Receita: {{recipe.title}}</p></div>
                <div class='card__image-container'>
                        <div class="highlight">
                        
                         <img src="{{files[0].src}}{{files[0].path}}" alt="{{file.name}}" srcset="">
                        </div>
                        <div class="filePreview">
                        {%for i in range(0, files.length) -%}
                            
                            <img 
                            src="{{files[i].src}}{{files[i].name}}" 
                            alt="{{file.name}}"
                            {%if loop.index0 ==0 %} class='active' {%endif%}
                            onclick='ImageGallery.setImage(event)'/>
                        {%-endfor%}
                        </div>
                </div>
            <div id="card__profile">
            <div class='card__content' 
            <p> {{recipe.title}}</p>
        </div>
        <div class='card__info'>
            <p>por
                {{recipe.chef_name}}</p>
        </div>
        </div>
    </div>
    </div>
    
    <div class="ingredients" >
        <h2>Ingredientes</h2>
        <h5>ESCONDER</h5>
        <ul class='topic__content'>
            {% for recipe in recipe.ingredients%}
                <li>{{recipe}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="preparation">
        <h3>Modo de preparo</h3>
        <h5>ESCONDER</h5>
        
        <span  class='topic__content'>
        {% for preparation in recipe.preparation%}
        <p>{{preparation}}</p>
        {% endfor %}
        </span>
        
    </div>

    <div class="information">
        <h4>Informações adicionais</h4>
        <h5>ESCONDER</h5>
        <p class='topic__content'>{{recipe.information}}
    </div>   

    </section>

    <footer>
        <p>Todos os direitos reservados, receitas Foodfy.</p>
    </footer>

    <script src="/scripts.js"></script>
    <script src="/hideButton.js"></script>
</body>

</html>