<!DOCTYPE html>
<html>

    <body>

        <head>
            <title>Foodfy</title>
            <link rel="stylesheet" href="/styles/styles.css">
        </head>
        <header>
            <img src="/logo.png" alt="" class='logo'>

            <a href="/sobre" class='about'>Sobre</a>
            <a href="/receitas" class='recipes active'>Receitas</a>
            <a href="/chefs" class='chefs_link'>Chefs</a>
            <form action="/receitas" method='GET'>
                <input type="text" name='filter' placeholder='  Buscar uma receita'>
                <button type="submit">Buscar</button>
            </form>
        </header>
        {%if filter%}
            <p id='lookFor'>Buscando por '{{filter}}'</p>
        {% endif %}

        <div class="recipeContainer">
            {%for recipe in recipes%}
                <div class='card' id='{{recipe.id}}'>
                    <div class='card__image-container'>
                        <div class='card__image-container'>

                            {%for file in files%}
                                {%for i in range(0, 1)%}
                                    {%if recipe.id == file[i].recipe_id%}
                                        <a href='/receitas/{{recipe.id}}'>
                                            <img src="http://localhost:5000/images/{{file[0].name}}" alt="{{recipe.title}}"/>
                                        </a>
                                        {%endif%}
                                        {%endfor%}
                                        {%endfor%}

                                    </div>

                                </div>
                                <div class='card__content'>
                                    <p>{{recipe.title}}</p>
                                </div>
                                <div class='card__info'>
                                    <p>por
                                        {{recipe.chef_name}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <footer id='second'>
                        <p>Todos os direitos reservados, receitas Foodfy.</p>
                    </footer>
                </div>

                <script src="/scripts.js"></script>
            </body>

        </html>