<!DOCTYPE html>
<html>

    <head>
        <title>Foodfy</title>
        {%include 'parts/styles.njk'%}
    </head>
    <body>

        {%include 'parts/headerMain.njk'%}
        {%if filter%}
            <p id='lookFor'>Buscando por '{{filter}}'</p>
        {% endif %}

        <div class="recipeContainer">
            {%for recipe in recipes%}
                <div class='card' id='{{recipe.id}}'>
                    <div class='card__image-container'>
                        <div class='card__image-container'>

                            {%for file in files%}
                                {%for i in range(0, 1)%}
                                    {%if recipe.id == file[i].recipe_id%}
                                        <a href='/receitas/{{recipe.id}}'>
                                            <img src="{{file[0].path}}" alt="{{recipe.title}}"/>
                                        </a>
                                        {%endif%}
                                        {%endfor%}
                                        {%endfor%}

                                    </div>

                                </div>
                                <div class='card__content'>
                                    <p>{{recipe.title}}</p>
                                </div>
                                <div class='card__info'>
                                    <p>por
                                        {{recipe.chef_name}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {%include 'parts/footer.njk'%}
                </div>

                <script src="/scripts.js"></script>
            </body>

        </html>