<!DOCTYPE html>
<html>

    <head>
        <title>Foodfy</title>
        {%include 'parts/styles.njk'%}

    </head>

    <body>

        {%include 'parts/header.njk'%}

        <section>
            <div class="usersAdminContainer">
                <h1>Receitas</h1>

                <form action="/receitas/create" method='get' id='newUser'>
                    <button type='submit' class='edit master' form='newUser' id='save'>Nova</button>

                </form>

            </div>

            {%include 'parts/messages.njk'%}
            <div class="allUsers">
                {%for result in results%}
                    <div class="listContainer">
                        <div class="detailsContainer">
                            <div class='item'>
                                <div>{{result.title}}</div>

                            </div>

                        </div>
                        <div class="buttons">
                            <a href="/receitas/{{result.id}}/edit">Editar</a>

                            <form id='delete_{{result.id}}' class='deleteResults' method="POST" action='/receitas?_method=DELETE'>
                                <button class='cancel' type="submit" form='delete_{{result.id}}'>Deletar</button>
                                <input type="hidden" name="id" value={{result.id}}>
                                <input type="hidden" name="is_admin" value={{result.is_admin}}>

                            </form>

                        </div>

                    </div>

                    {%endfor%}

                </div>
            <script src="/scripts.js"></script>
            </body>

        </html>