<!DOCTYPE html>
<html>

    <head>
        <title>Foodfy</title>
        {%include 'parts/styles.njk'%}

    </head>
    {%include 'parts/headerBlack.njk'%}
    <body>

        <section>

            <div class='card' id='{{item.id}}'>
                <div class="adminContainer">
                    <h1>Chef:
                        {{chef.name}}</h1>
                    <a href="{{chef.id}}/edit" class='edit'>Editar Chef</a>
                </div>

                <div class='card__content__chef__admin'>
                    <img src="{{chefFiles}}" alt="{{chef.title}}"/>
                    <div class="chef__details">
                    <p id='card__info__chef__name'>{{chef.name}}</p>
                    <p id='card__info__chef'>{{chef.total_recipes}}
                        receitas</p>
                    </div>
                </div>
            </div>

        </div>

        <strong>Receitas</strong>
        <div class="recipeContainerOriginal">

            {% for recipe in recipesMade %}
                {%if chef.id == recipe.chef_id %}
                    <div class='card_admin_recipe' id='{{recipe.id}}'>
                         
                         
                        <div class='card__image-container_recipe'>
                               
                                <img src="{{recipeFiles[0]}}" alt="{{recipe.title}}"/>
                                
                            </div>
                                
                            
                            <div class='card__content_recipe'>
                                <p>{{recipe.title}}</p>
                                <div class='card__info_recipe'>
                                    <p>por
                                        {{chef.name}}</p>
                                    <div class="card__button_recipe">
                                        <a href="/receitas/{{recipe.id}}">Visualizar</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endif %}

                {% endfor %}
            </div>

        </section>

        

        <script src="/scripts.js"></script>
    </body>

</html>