<!DOCTYPE html>
<html>

    <body>

        <head>
            <title>Foodfy</title>
            <link rel="stylesheet" href="/styles/styles.css">
        </head>
        <header id='adHead'>
            <div class="admin_head">
            <h1 style='color:white'>Foodfy</h1>
            <a href="/receitas" class='recipes_admin'>RECEITAS</a>
            <a href="/chefs" class='chefs_link_admin'>CHEFS</a>
            </div>
        </header>

        <h2 class='manage'>Gerenciar chefs</h2>
        <div class="adminchefContainer">
            {%for chef in chefs%}
                <div class='card' id='{{chef.id}}'>
                    <div class='card__image-container_chef'>
                        {%for file in files%}
                            {%for i in range(0, 1)%}
                            {%if chef.file_id == file[i].id%}
                                
                        <img src="http://localhost:5000/images/{{file[0].name}}" alt="{{chef.name}}"/>
                            {%endif%}
                                
                            {%endfor%}
                        {%endfor%}
                    </div>
                    <div class='card__content_chef'>
                        <p>{{chef.name}}</p>
                       <a href="/admin/{{chef.id}}" class="see">Visualizar</a>
                    
                    </div>
                    
                </div>
            {% endfor %}
        </div>
        
        
    </div>

    <script src="/scripts.js"></script>
</body>

</html>