<!DOCTYPE html>
<html>

    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/styles/UserStyles.css">

    </head>

    <body>

        <div class="login-header">

            <img src="/logo.png" alt="">

        </div>

        <section>
            <div class="loginContainer">
                <h1>Nova senha</h1>

            </div>
            {%include 'parts/messages.njk'%}
            <form id='creation' method='POST' action="/users/password-reset">
                <div class="resetContainer">
                    <div class='item'>
                        <p>Email</p>
                        <input type="email" name="email" id="" placeholder='Digite seu email' 
                        >
                    </div>
                    <div class='item'>
                        <p>Nova Senha</p>
                        <input type="password" name="password" id="" placeholder='Digite sua nova senha' 
                        >
                    </div>
                    <div class='item'>
                        <p>Repetir Senha</p>
                        <input type="password" name="passwordRepeat" id="" placeholder='Repita a nova senha' 
                        >
                    </div>

                    
                    
                </div>
                <div class="buttonContainer">
                    <span></span>
                    <button class='acess' id='reset' type="submit" form='creation'>Nova Senha</button>
                </div>

                <input type="hidden" name="token" value='{{token}}'>
            </form>
        </section>
        <script src="/scripts.js"></script>
    </body>

</html>