
/* image gallery */
.card__image-container .highlight > img {
    position: absolute;
    border-radius: 15px;
    width: 940px;
    height: 280px;
    left: 230px;
    top: 200px;
    object-fit: cover;
}

.card__image-container .filePreview {
    display: grid;
    grid-template-columns: repeat(5,1fr 1fr 1fr 1fr 1fr);
    direction: rtl;
    grid-gap: 10px;
    position: relative;
    right: 350px;
    top: 430px;
}


.card__image-container .filePreview img{
    height: 49.7px;
    width: 50px;
    object-fit: cover;
    opacity: 0.6;
    cursor: pointer;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    
}


.card__image-container img:hover,
.card__image-container img.active{
    opacity:1;
    
}


.card #card__profile {
    display:flex;
    align-items: center;
    align-self: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    left: -10px;
    top: 480px;
}

div.detailsInfoContainer{
    display: flex;
    flex-direction: column;
    position:relative;
    top: -50px;
}

.ingredients h2 {
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    position: relative;
    left: 230px;
    top: 563px;
    
}

.ingredients ul {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    position: relative;
    left: 245px;
    top: 611px;
    
}

.preparation h3 {
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    position: relative;
    left: 230px;
    top: 650px;

}

.preparation p {
    position: relative;
    left: 230px;
    top: 670px;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
    width: 940px;
}

.information h4 {
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    position: relative;
    left: 230px;
    top: 690px;
}

.information p {
    position: relative;
    left: 230px;
    top: 710px;
    text-align: justify;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    width: 940px;
    
}


.ingredients h5 {
    position: relative;
    left: 380px;
    top: 548px;
    cursor: pointer;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
}

.preparation h5 {
    position: relative;
    left: 425px;
    top: 635px;
    cursor: pointer;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
}

.information h5 {
    position: relative;
    left: 495px;
    top: 675px;
    cursor: pointer;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
}


.show {
    display: none;
}

.adminContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 230px;
    top: 200px;
    gap: 800px;
}

.editContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: 230px;
    top: 100px;
    gap: 280px;
}
.createContainer{

    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: 230px;
    top: 80px;

}

.userUpdateContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: 230px;
    top: -90px;
    gap: 280px;
}

.userUpdateContainer button{
    width: 139px;
    height: 37px;
    border-radius: 4px;
}

.userUpdateContainer button.cancel{
    background: #DC4747;
    border: 1px solid #DC4747;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom: 3px;
    left: 20px;
}

.userUpdateContainer button.save{
    background: #7159C1;
    border: 1px solid #7159C1;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: -320px;
    left: 800px;

}


.createContainer button {
    width: 139px;
    height: 37px;
    border-radius: 4px;
    left: 50px;
}

.edit{
    background-color: #6558C3;
    width: 136px;
    height: 37px;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 9px;
    font-weight: bold;
    position: relative;
    right: 100px;
    bottom: 5px;
    border: 1px solid white;
}


form#creationChef {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 230px;
    top: -250px;
}


form {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 230px;
    top: 113px;
}

form.userEdit {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 230px;
    top: -420px;
}


form input{
    width: 940px;
    height: 49px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
}

form input[type='url']{
    margin-bottom: 30px;
}


#info input {
    width: 940px;
    height: 257px;
}

form button {
    width: 194px;
    height: 19px;
    margin-bottom: 30px;
    
    font-size: 16px;
    color: #6558C3;
    background-color: transparent;
    font-weight: bold;
    border: 1px solid white;
    text-align: left;
    display: grid;
}


.item > div {
    font-weight: bold;
    font-size: 16px;
    color: #111111;
}

.edit.master {
    border: 1px solid white;
}


#delButton {
    position: relative;
    left: 650px;
    bottom: 322px;
    background-color: #DC4747;
}

#rewrite{
    top: -200px;
}

.card__image-container_recipe {
    border-radius: 8.57px;
    height: 80px;
    width: 172px;
}


div.card__image-container_recipe img {
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}



.card__content_recipe    {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #111111;
    margin-left: 20px;
    display: grid;
    grid-template-columns: max-content;
}


.card__info_recipe    {
        font-family: Roboto-Regular;
        font-size: 14px;
        color: #777777;

}

.card__button_recipe   { font-family: Roboto-Bold;
font-size: 14px;
color: #6558C3;

}

.card__button_recipe a {
    text-decoration: none;

}

.card_admin_recipe {
    display: inline-flex;
    margin-bottom: 20px;
}

.card__content_recipe p {
    margin-bottom: 10px;
    margin-right: 100px;
}


.card__content__chef {
    font-weight: bold;
    font-size: 36px;
    color: #111111;
    position: absolute;
    left: 604px;
    top: 437px;

}

.chefSelect {
    background: #FFFFFF;
border: 1px solid #DDDDDD;
border-radius: 4px;
border-radius: 4px;
width: 940px;
height: 49px;
margin-bottom: 30px;
}

.recipeContainerManager {
    display: inline-flex;
    grid-template-columns: 300px 300px 300px;
    position: absolute;
    left: 230px;
    top: 290px;
}


.card_admin_recipe_manager {
    display: inline-flex;
    margin-right: 137px;
}



.card__content_recipe_manager p {
    margin-bottom: 10px;
    margin-right: 100px;
}

.card__content_recipe_manager    {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #111111;
    margin-left: 20px;

}

textarea {
    margin-top: 10px;
}


.card__content__chef__admin {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 600px;
    top: 200px;
    text-align: center;
    align-items: center;
}


#card__info__chef__name {
font-weight: bold;
font-size: 36px;
color: #111111;
margin-top: 30px;
margin-bottom: 4px;
}


#card__info__chef {
    font-weight: normal;
    font-size: 20px;
    color: #777777;
    

}

.card__content__chef__admin img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}

/* photos upload */

form #photos-upload {
    margin-top: 10px;
    margin-bottom: 30px;
}


form #photos-upload input {
    
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    margin-top: 20px;
    width: 149px;
    height: 149px;
}

#photos-upload span {
    border: 1px solid grey;
    width: 149px;
    height: 149px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    border-radius: 3,5px;
}
#photos-upload span i {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 60.5px;
    color: #777777;
    
    width: 100%;
    font-weight: bold;  
    
    
}

form #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow:hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

form  #photos-preview {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: 151px;
    height: 151px;
    margin: 8px 0;
    position: absolute;
    top: 20px;
    left: 160.5px;
}

form  #photos-preview .photo img {
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;   
    width: 151px;
    height: 151px;
    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255, 0.8);
    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-self: center;
    padding: 35px;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 200ms;
    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}

/* photos upload chef */

form .item #photo-upload-chef{
    position: relative;

    display: block;
    overflow: hidden;
    width: 139px;
    height: 37px;
    border-radius: 4px;
    background-color: #6558C3;
   
    margin-top: 10px;
}

form .item #photo-upload-chef p {
    
    
    
    width: 100%;
    height: 100%;
    
    font-family: Helvetica-Bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 9px;
}

form .item #photo-input-chef{
    position: absolute;
    width: 139px;
    height: 37px;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}

form .item .photo-old-input{
    opacity: 0.36;
font-family: Helvetica;
font-size: 16px;
color: #111111;
}

