<header>
    <a href="/">
        <img src="/logo.png" alt="" class='logo'>
    </a>
    <a href="/about" class='about' onclick='Boldener.boldIt(event)'>Sobre</a>
    <a href="/receitas/" class='recipes' onclick='Boldener.boldIt(event)'>Receitas</a>
    <a href="/chefs/" class='chefs_link' onclick='Boldener.boldIt(event)'>Chefs</a>
    <form action="/receitas" method='GET' class='search'>
        <input type="text" name='filter' placeholder='  Buscar uma receita'>
        <button type="submit" class='search'>Buscar</button>
    </form>
</header>