<div class="header">
    <div class="headerContainer">
        <img src="/Foodfy.png" alt="">
        <a href="/users/admin/recipes">Receitas</a>
        <a href="/chefs/">Chefs</a>
        <a href="/users/admin/users" class='users'>Usuários</a>
        <form action="/users/logout" method='post'>
            <button>Sair</button>
        </form>
    </div>
</div>