<header id='adHead' style='background-color: black; color: white;'>
    <div class="admin_head">
        <a href="/">
            <h1><img src="/Foodfy.png" alt="" class='black'></h1>
        </a>
        <a href="/receitas/" class='recipes_admin'>RECEITAS</a>
        <a href="/chefs/" class='chefs_link_admin'>CHEFS</a>
    </div>
</header>