<header>
    <img src="/logo.png" alt="" class='logo'>
    
    <a href="/sobre" class='about'><p>Sobre</p></a>
    <a href="/receitas" class='recipes' ><p>Receitas</p></a>
    <a href="/chefs" class='chefs_link'><p>Chefs</p></a>
    <form action="/receitas" method='GET'>
        <input type="text" name='filter' placeholder='  Buscar uma receita'>
        <button type="submit">Buscar</button>
    </form>
</header>